<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Guardar Texto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Guardar Texto</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item>
    <ion-label>
      Ingrese el texto:
    </ion-label>
    <ion-input type="text" [(ngModel)]="texto"></ion-input>
  </ion-item>
  <ion-button (click)="saveText()">
    Guardar
  </ion-button>
</ion-content>
